# class 1 python 1-1-21

In [ ]:
print("alli")

In [ ]:
a=10

In [ ]:
print(a)

In [ ]:
type (a)

In [ ]:
print(type(a))

In [ ]:
id(a)

In [ ]:
b=12.8
print(b)
type(b)

In [ ]:
c=False
d=True
type(c)

In [2]:
a="ali rana"
type(a)

str

In [3]:
a.capitalize()

'Ali rana'

In [4]:
a.lower()

'ali rana'

In [5]:
a.count("a")

3

In [6]:
a.upper()

'ALI RANA'

In [7]:
a.find("i")

2

In [8]:
a.format()

'ali rana'

In [9]:
a.title()

'Ali Rana'

In [10]:
a.casefold()

'ali rana'

In [11]:
a.encode()

b'ali rana'

In [12]:
a.isspace()

False

In [ ]:
len(a)

In [ ]:
name="pakistan"
year=1947

print("i am " + name + " and i came exitance "  + str(year))

In [ ]:
""

In [ ]:
"this is the friend"

In [ ]:
'ali'

In [16]:
"my book name is 'python'"

"my book name is 'python'"

string formating

In [ ]:
name=input("name  ")
age=input("age  ")

In [15]:
name=input("name  ")#.split(",")
age=input("age  ")
name,age

name  we
age  2

('we', '2')

In [ ]:
print("my name is  {} and my age is  {}".format(name,age))

In [ ]:
print( f"my name is  {name} and my age is  {age}")

# class 2 python monday(4-1-21)

In [17]:
print("my name is \"rana\" ")

my name is "rana"

In [ ]:
input("name")

oprators and number  +  -   *   /

In [ ]:
23+4

In [ ]:
56-4

In [ ]:
2*4

In [ ]:
6/2

In [ ]:
10//5

In [ ]:
#modulo oprater  (%)

12%5

In [ ]:
# equality

10==10

In [ ]:
# not equal
10!=10

In [ ]:
12>5   # greter than

In [ ]:
12<5  #less than

In [ ]:
#power k liye   # exponent

12**2

In [ ]:
12+2

In [ ]:
12+2.4

12/10

In [ ]:
12/10

In [ ]:
12.6//10

In [ ]:
12//10

# introducing list

In [ ]:
alist=[1,2,3,4,5,6]

In [ ]:
a=[]

In [ ]:
type(a)

In [ ]:
print(type(a))

In [ ]:
b=[1,2,3,["ali",12.0]]
#[0  1  2   3   ]
#[-4  =3 -3 -1]

In [ ]:
b[0]

In [ ]:
b[3]

In [ ]:
b[3][1]

In [19]:
#exersice

name=["abdullah","ali","rana","huxzaifa","tayyab"]
name

['abdullah', 'ali', 'rana', 'huxzaifa', 'tayyab']

In [20]:
print(f"he my best friend  {name [0]}")

he my best friend  abdullah

In [ ]:
transport=["honda civic","toyota","suzuki"]
transport

In [ ]:
print(f"I would like to own a {transport[0]} .")

In [ ]:
# add del replace new add item 

blist=[]

In [ ]:
blist.append("ali")

In [ ]:
blist

In [ ]:
del blist[0]

In [ ]:
blist

In [ ]:
blist.append("ali")
blist.append("rana")
blist.append("ahmed")

In [ ]:
del blist[0]

In [ ]:
blist

In [ ]:
del blist[0]

In [ ]:
blist

In [ ]:
blist.clear()

In [ ]:
blist

In [ ]:
blist.append(98)
blist.append("rana")
blist.append("ahmed")

In [ ]:
blist.count(98)

In [ ]:
blist.index(98)

In [ ]:
blist

In [ ]:
blist.

In [ ]:
dlist=blist.copy()

In [ ]:
dlist

In [ ]:
alist

In [ ]:
blist

In [ ]:
newlist=blist+alist

In [ ]:
newlist

In [ ]:
country="pakistan"

In [ ]:
newlist.extend(country)

In [ ]:
newlist

In [ ]:
newlist.index("rana")

In [ ]:
newlist.index(2)

In [ ]:
newlist.insert(3,"pakistan")

In [ ]:
newlist

In [ ]:
newlist.remove("rana")

In [ ]:
newlist

In [ ]:
alist.reverse()

In [ ]:
alist

In [ ]:
alist.sort()

In [ ]:
alist

In [ ]:
alist.sort(reverse=True)

In [ ]:
alist

In [ ]:
peppedElment=alist.pop()

In [ ]:
peppedElment

In [ ]:
peppedElment=alist.pop(1)

In [ ]:
peppedElment

In [ ]:
alist

In [ ]:
#excersiccce
alist=[1,62,3,94,56,78]
alist

In [ ]:
alist.sort()

In [ ]:
alist

In [ ]:
zlist=["d","r","a","b","c"]

In [ ]:
print(sorted(zlist))

# for loop

In [21]:
for a in ("pakistan"):
          print( a,  end=".")

p.a.k.i.s.t.a.n.

In [22]:
for num in range(10):
                print(num)

0
1
2
3
4
5
6
7
8
9

In [23]:
for num in range(0,20,2):
    print(num , end="  ")

0  2  4  6  8  10  12  14  16  18

# class 3 python 6-1-21

In [ ]:
# %run hello.py

In [ ]:
# %load hello.py

In [ ]:
a=[1,34,53,87,"ali"]
#={0  1  2  3   4 }
# [-5 -4 -3 -2 -1]

In [ ]:
a

In [ ]:
a[2]

In [ ]:
a[-3]

In [ ]:
a[1:3]

In [ ]:
a[0:1]

In [ ]:
a

In [ ]:
slice=a[0:3]

In [ ]:
slice

In [ ]:
len(a)

In [ ]:
type(a)

In [ ]:
 newlist=[1,2,3,4,5,6,7,8,9,0]

In [ ]:
newlist

In [ ]:
sliced=newlist[2:7]
sliced

In [ ]:
sliced=newlist[-1:-6:-1]
sliced

In [ ]:
sliced=newlist[-8:8]
sliced

In [ ]:
newslice=newlist[:]
newslice

In [ ]:
newlist[0:9:3]

In [ ]:

students=["ali","asad","fahad","kamil","nasir"]

In [2]:
student=[]
for x in range (11):
    x=input(f"enter name  {x} :")
    student.append(x)
student

enter name  0 :a
enter name  1 :a
enter name  2 :a
enter name  3 :a
enter name  4 :a
enter name  5 :sa
enter name  6 :s
enter name  7 :d
enter name  8 :d
enter name  9 :
enter name  10 :f

['a', 'a', 'a', 'a', 'a', 'sa', 's', 'd', 'd', '', 'f']

In [ ]:
f

In [ ]:
students=[]
for a in range(10):
    student= input("enter a name ")
    students.append(student)
students

In [ ]:
pizza=["bbq","afghani","fajita"]
for a in (pizza):
    print(a)

In [ ]:
for b in (pizza):
    print(f"i like a {b} pizza")

In [ ]:
for b in (pizza):
    print(f"i like a {b} pizza")
    
print("i really like pizza")

In [ ]:
animal=["lion","cat","tiger"]
for a in (animal):
    print(a)

In [ ]:
for a in animal:
    print(f"i like theese animal {a}")

In [ ]:
for num in range(0,20,2):
    print(num)

In [ ]:
for num in range(1,20,2):
    print(num)

In [3]:
ood=[]
evan=[]
for num in range(1,50):
    if num%2==0:
        evan.append(num)
    else:
        ood.append(num)
print(evan)
print(ood)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [3]:
employees=["ali","ahmed","nadir"]

employe  =input("enter a name " )

if employe in employees:
    print(f"congrats { employe} is in list" )
else:
    print("not available")

enter a name ali
congrats ali is in list

In [4]:
available_toppings=["mashrooms","olives","green prppers","pepperoni","pineaple","extra cheese"]
requested_toppings=["mashroom","french fries","extra cheese"]

for requested_topping in available_toppings:
    if requested_topping in available_toppings:
        print(f"adding {available_toppings}  .")
    else:
        print("sorry, we dont have ", available_toppings , ".")
        
print("\n Finished Making Your pizza")

adding ['mashrooms', 'olives', 'green prppers', 'pepperoni', 'pineaple', 'extra cheese']  .
adding ['mashrooms', 'olives', 'green prppers', 'pepperoni', 'pineaple', 'extra cheese']  .
adding ['mashrooms', 'olives', 'green prppers', 'pepperoni', 'pineaple', 'extra cheese']  .
adding ['mashrooms', 'olives', 'green prppers', 'pepperoni', 'pineaple', 'extra cheese']  .
adding ['mashrooms', 'olives', 'green prppers', 'pepperoni', 'pineaple', 'extra cheese']  .
adding ['mashrooms', 'olives', 'green prppers', 'pepperoni', 'pineaple', 'extra cheese']  .

 Finished Making Your pizza

In [7]:
available_toppings=["mashrooms","olives","green prppers","pepperoni","pineaple","extra cheese"]
requested_toppings=["mashroom","french fries","extra cheese"]

for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print(f"adding {available_toppings} .")
    else:
        print("sorry, we dont have ", available_toppings , ".")
        
print("\n Finished Making Your pizza")

sorry, we dont have  ['mashrooms', 'olives', 'green prppers', 'pepperoni', 'pineaple', 'extra cheese'] .
sorry, we dont have  ['mashrooms', 'olives', 'green prppers', 'pepperoni', 'pineaple', 'extra cheese'] .
adding ['mashrooms', 'olives', 'green prppers', 'pepperoni', 'pineaple', 'extra cheese'] .

 Finished Making Your pizza

In [16]:
employees=[]
for employee in range(5):
    employee_name = input("enter employee to be add in list")
    if empolyee_name not in employees

SyntaxError: invalid syntax (<ipython-input-16-55bcd5b7d36a>, line 4)

In [2]:
d={0:"a",1:"b",2:"c"}
for x in d.keys():
    print(d[x])

a
b
c

# class no 4   11-1-2021

# list compreshension

In [17]:
squares=[]

In [18]:
for a in range (10):
    square=a**2
    squares.append(square)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
[a**2  for a in range (10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
[a/2  for a in range (10)]

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5]

In [21]:
[a  for a in range (100) if a%5==0]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [22]:
[a  for a in range (100) if a%9==0]

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

In [23]:
["div by 5" if a%5==0 else "not div by 5" for a in range (10) ]

['div by 5',
 'not div by 5',
 'not div by 5',
 'not div by 5',
 'not div by 5',
 'div by 5',
 'not div by 5',
 'not div by 5',
 'not div by 5',
 'not div by 5']

In [25]:
["evan" if a%2==0 else "odd" for a in range (10) ]

['evan', 'odd', 'evan', 'odd', 'evan', 'odd', 'evan', 'odd', 'evan', 'odd']

In [27]:
[f"evan {a}" if a%2==0 else f"odd {a}" for a in range (10) ]

['evan 0',
 'odd 1',
 'evan 2',
 'odd 3',
 'evan 4',
 'odd 5',
 'evan 6',
 'odd 7',
 'evan 8',
 'odd 9']

# tuple

In [28]:
atuple=(1,2,3,4,5,"ali")

In [29]:
atuple

(1, 2, 3, 4, 5, 'ali')

In [30]:
atuple[2]

3

In [31]:
a=23,45,76 # packing

In [32]:
a

(23, 45, 76)

In [33]:
type(a)

tuple

In [39]:
b , c , d= a  # unpacking

In [40]:
a

(23, 45, 76)

In [41]:
type(a)

tuple

In [42]:
b=["ali","hamid"]

In [43]:
d , e=b

In [44]:
c

45

In [45]:
d

'ali'

In [46]:
b

['ali', 'hamid']

In [47]:
a=[1,2,3,4,5,6,7]

In [48]:
a[-5:]

[3, 4, 5, 6, 7]

In [49]:
a[-1:-5:-1]

[7, 6, 5, 4]