# class 5 13-1-21

In [1]:
[(a,b) for a in range (1,5) for b in range (11,15)]

[(1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14)]

In [2]:
tuplelist=[]
for a in range(1,5):
    for b in range (11,13):
        tuplelist.append((a,b))
        
tuplelist

[(1, 11), (1, 12), (2, 11), (2, 12), (3, 11), (3, 12), (4, 11), (4, 12)]

In [7]:
squrelist=[]
for a in range(1,20):
    for b in range(21,40):
        if b== a**2:
            squrelist.append((a))
        else:
            squrelist.append((b))
squrelist a

SyntaxError: invalid syntax (<ipython-input-7-d0ccd71b5e8e>, line 8)

# set

In [11]:
aset={1,2,2,3,4,5,6,7,8,}

In [12]:
aset

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
alist=[2,3,4,3,4,5,6,6,5,7,8,8]

In [24]:
unique=[]

In [27]:
for i in alist:
    if i not in unique:
        unique.append(i)
print(alist)
unique

[2, 3, 4, 3, 4, 5, 6, 6, 5, 7, 8, 8]

[2, 3, 4, 5, 6, 7, 8]

In [28]:
list2=[]
[list2.append(x) for x in alist if a not in list2]
list2

[2]

In [32]:
aset= set(alist)

In [33]:
aset

{2, 3, 4, 5, 6, 7, 8}

In [31]:
list(aset)

[2, 3, 4, 5, 6, 7, 8]

In [2]:
aset={1,2,2,3,4,5,6,7,8,8}

In [3]:
diffset = aset.difference({3,66,5,32})

In [4]:
diffset

{1, 2, 4, 6, 7, 8}

In [64]:
aset.difference_update({1,3})

In [65]:
aset.add((77,88))
aset

{(77, 88), 2, 4, 5, 6, 7, 77, 8}

In [66]:
m=aset.copy()
m

{(77, 88), 2, 4, 5, 6, 7, 77, 8}

In [67]:
aset

{(77, 88), 2, 4, 5, 6, 7, 77, 8}

In [69]:
aset.add("zahid")

In [70]:
aset

{(77, 88), 2, 4, 5, 6, 7, 77, 8, 'zahid'}

In [71]:
aset.update({"ali","cat"})

In [72]:
aset

{(77, 88), 2, 4, 5, 6, 7, 77, 8, 'ali', 'cat', 'zahid'}

In [79]:
bset={1,2,3}

In [80]:
bset.update({"ali","cat"})

In [81]:
bset

{1, 2, 3, 'ali', 'cat'}

In [84]:
bset.update("32")

In [85]:
bset

{1, 2, '2', 3, '3', 'ali', 'cat'}

In [86]:
bset.add("bilal")

In [87]:
bset

{1, 2, '2', 3, '3', 'ali', 'bilal', 'cat'}

# dictionary

In [1]:
a={23}
adic={}

In [2]:
type(a),type(adic)

(set, dict)

In [3]:
adic={"name":"muddassir","age":"20","qual":"SE","exp":"1"}

In [4]:
adic

{'name': 'muddassir', 'age': '20', 'qual': 'SE', 'exp': '1'}

In [5]:
bdic=adic.copy()

In [6]:
bdic

{'name': 'muddassir', 'age': '20', 'qual': 'SE', 'exp': '1'}

In [7]:
bdic.clear()

In [8]:
bdic

{}

In [9]:
adic["name"]

'muddassir'

In [10]:
adic["name"]="rana"

In [11]:
adic

{'name': 'rana', 'age': '20', 'qual': 'SE', 'exp': '1'}

In [12]:
cdic={"bike":"honda","cc":"125","cc":"70"}

In [13]:
cdic

{'bike': 'honda', 'cc': '70'}

In [14]:
del cdic ["cc"]

In [15]:
cdic

{'bike': 'honda'}

In [16]:
cdic.update({"model":"2020"})

In [17]:
cdic

{'bike': 'honda', 'model': '2020'}

In [18]:

for a in adic:
    print(a)

name
age
qual
exp

In [19]:
for a in adic.keys():
    print(a)

name
age
qual
exp

In [20]:
for a in adic.keys():
    print(adic[a])

rana
20
SE
1

In [21]:
for val in adic.values():
    print(val)

rana
20
SE
1

In [22]:
for item in adic.items():
    print(item)

('name', 'rana')
('age', '20')
('qual', 'SE')
('exp', '1')

In [118]:
for k,v in adic.items():
    print(k,v)

name rana
age 20
qual SE
exp 1

In [119]:
for k,v in enumerate (adic.items()):
    print(k,v)

0 ('name', 'rana')
1 ('age', '20')
2 ('qual', 'SE')
3 ('exp', '1')

In [123]:
for a,(b,c) in enumerate (adic.items()):
    print(a,b,c)

0 name rana
1 age 20
2 qual SE
3 exp 1

In [120]:
for char in "pakistan":
    print(char)

p
a
k
i
s
t
a
n

In [121]:
for char in enumerate("pakistan"):
    print(char)

(0, 'p')
(1, 'a')
(2, 'k')
(3, 'i')
(4, 's')
(5, 't')
(6, 'a')
(7, 'n')

In [122]:
for index ,char in enumerate("pakistan"):
    print(index, char)

0 p
1 a
2 k
3 i
4 s
5 t
6 a
7 n

In [124]:
adic

{'name': 'rana', 'age': '20', 'qual': 'SE', 'exp': '1'}

In [125]:
adic.pop("name")

'rana'

In [129]:
adic.popitem()

('exp', '1')

In [130]:
adic.items()

dict_items([('age', '20'), ('qual', 'SE')])

In [131]:
adic.values()

dict_values(['20', 'SE'])

# dictioary comprehension

In [139]:
price_in_rs

{'milk': 230, 'cofee': 250, 'bread': 50}

In [141]:
dollar= 165
newprice_in_dollar = {key:(value/dollar) for key,value, in price_in_rs.items() }

In [142]:
newprice_in_dollar

{'milk': 1.393939393939394,
 'cofee': 1.5151515151515151,
 'bread': 0.30303030303030304}

In [143]:
dollarprice= {key:(value/dollar) for key,value, in price_in_rs.items()  if value/dollar > .5}

In [144]:
dollarprice

{'milk': 1.393939393939394, 'cofee': 1.5151515151515151}

# class 6 15/1/21

# a list of dictionary

In [22]:
alistofdic = [   {"item":[1,2,3,4,5,6], "price":[11,22,33,44]},{"students":["A","B","C","D"],"rollnum":[124,456,789,5678]}]

In [23]:
alistofdic[1]["students"][2]

'C'

In [25]:
for mem in range( len(alistofdic)):
    if "rollnum" in alistofdic[mem]:
        for rn in alistofdic[mem]["rollnum"]:
            print(rn)

124
456
789
5678

In [29]:
alien_0={"color":"green","points":5  }
alien_1={"color":"yellow","points":10  }
alien_2={"color":"red","points":15  }

In [31]:
aliens=[alien_0,alien_1,alien_2]

for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [33]:
aliens=[]
for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

In [34]:
for alien in aliens[:5]:
    print(alien)
    print("...")

{'color': 'green', 'points': 5, 'speed': 'slow'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...

In [35]:
 print("Total number of aliens: " + str(len(aliens)))

Total number of aliens: 30

In [42]:
for alien in aliens[0:3]:
    if alien ["color"]=="green":
        alien["color"]=="yellow"
        alien["points"]==10
        alien["speed"]=="medium"

In [54]:
for alien in aliens[0:3]:
    if alien['color'] == 'green':
        alien['color'] = 'yellow'
        alien['speed'] = 'medium'
        alien['points'] = 10

In [55]:
for alien in aliens[0:5]:
    print(alien)

{'color': 'red', 'points': 15, 'speed': 'fast'}
{'color': 'red', 'points': 15, 'speed': 'fast'}
{'color': 'red', 'points': 15, 'speed': 'fast'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}

In [56]:
for alien in aliens[0:2]:
    if alien['color'] == 'green':
        alien['color'] = 'yellow'
        alien['speed'] = 'medium'
        alien['points'] = 10
    elif alien["color"]=="yellow":
        alien['color'] = 'red'
        alien['speed'] = 'fast'
        alien['points'] = 15

In [57]:

for alien in aliens[0:6]:
    print(alien)

{'color': 'red', 'points': 15, 'speed': 'fast'}
{'color': 'red', 'points': 15, 'speed': 'fast'}
{'color': 'red', 'points': 15, 'speed': 'fast'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}

In [59]:
pizza={"crust":"thick","toppings":["mashroom","cheeze","bbq",]}

In [62]:
print("You ordered a " + pizza['crust'] + "-crust pizza " + "with the following toppings:")

You ordered a thick-crust pizza with the following toppings:

In [63]:
for topping in pizza['toppings']:
    print("\t" + topping)

	mashroom
	cheeze
	bbq

In [64]:
favorite_languages = {'jen': ['python', 'ruby'],'sarah': ['c'],'edward': ['ruby', 'go'],'phil': ['python', 'haskell'],
}

In [65]:
for name, languages in favorite_languages.items():
    print("\n" + name.title() + "'s favorite languages are:")
    for language in languages:
        print("\t" + language.title())

Jen's favorite languages are:
	Python
	Ruby

Sarah's favorite languages are:
	C

Edward's favorite languages are:
	Ruby
	Go

Phil's favorite languages are:
	Python
	Haskell

# A Dictionary in a Dictionary

In [80]:
users

{'aeinstein': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [82]:
users = {
 'aeinstein': {
 'first': 'albert',
 'last': 'einstein',
 'location': 'princeton',
 },
 'mcurie': {
 'first': 'marie',
 'last': 'curie',
 'location': 'paris',
 },
 }

In [83]:
for username, user_info in users.items():
    print("\nUsername: " + username)
    full_name = user_info['first'] + " " + user_info['last']
    location = user_info['location']
    print("\tFull name: " + full_name.title())
    print("\tLocation: " + location.title())

Username: aeinstein
	Full name: Albert Einstein
	Location: Princeton

Username: mcurie
	Full name: Marie Curie
	Location: Paris

In [8]:
dicofdic={"saylani":
              { "smit":["web","ds","ccna","ai"],
                "health":["opd","ot"]              
          },
          "university": 
              { "cs":["1st","2nd","3rd","4th"],
                "admin":["fee","timetable","exam"]
         }
}

In [9]:
dicofdic

{'saylani': {'smit': ['web', 'ds', 'ccna', 'ai'], 'health': ['opd', 'ot']},
 'university': {'cs': ['1st', '2nd', '3rd', '4th'],
  'admin': ['fee', 'timetable', 'exam']}}

In [10]:
"smit" in dicofdic["saylani"]

True

In [11]:
for pk,pv in dicofdic.items():
    if pk=="university":
        for uk,uv in dicofdic[pk].items():
            if uk=="admin":
                print("exam" in uv)

True

In [12]:
for pk,pv in dicofdic.items():
    if pk=="university":
        for uk,uv in pv.items():
            if uk=="admin":
                print("exam" in uv)

True

In [13]:
for v in dicofdic["university"]["admin"]:
    if v=="exam":
        print("exam" in v)

True

# while loops

In [6]:
fav_languages=[]
for lang in range(4):
    fav_lang = input("enter fav lang")
    fav_languages.append(fav_lang)
print(fav_languages)

enter fav langm
enter fav langk
enter fav langk
enter fav langk\k
['m', 'k', 'k', 'k\\k']

flag=True
fav_languages=[]
while (flag):
    fav_lang=input("enter a num")
    
    fav_languages